body {
    margin: 0;
    font-family: sans-serif;
    padding-bottom: 50px;
}

h1 {
    margin-top:0;
}

.gradient {
    background: #EC008D;
    background: linear-gradient(to bottom right, #EC008D 0%, #F08B32 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    width: 100px;
    height: 100px;
}

ul {
    text-align: left;
    list-style: none;
}

.container {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.poster {
    max-width: 90%;
    margin: 0 auto;
    width: 500px;
}